# Starbucks Prediction
### 2019 July 8
`Group 2`

In [2]:
# beginning off by importing our libraries, as per usual
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB   #import Gaussian Bayes modeling function
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import BernoulliNB
from pandas import read_excel

%matplotlib inline

In [8]:
macrotr = "MacroTrends_Data_SBUX.csv"

stockAll = pd.read_csv(macrotr)
print(stockAll.head(),
      '\n-------\n',
      stockAll.tail())

         date    open    high     low   close     volume
0  1992-06-26  0.3281  0.3477  0.3203  0.3359  224358400
1  1992-06-29  0.3398  0.3672  0.3320  0.3594   58732800
2  1992-06-30  0.3672  0.3711  0.3438  0.3477   34777600
3  1992-07-01  0.3516  0.3594  0.3398  0.3555   18316800
4  1992-07-02  0.3594  0.3594  0.3477  0.3555   13996800
-------
             date   open     high    low  close   volume
6801  2019-06-28  83.56  83.9600  83.32  83.83  6735620
6802  2019-07-01  84.62  84.9600  84.03  84.55  7940539
6803  2019-07-02  84.74  85.5900  84.52  85.51  6206087
6804  2019-07-03  86.04  87.8200  85.98  87.79  7818552
6805  2019-07-05  87.50  87.8855  86.88  87.79  5733239

In [9]:
sale1 = "sales.csv"
sales = pd.read_csv(sale1)
sales

    Year  Revenue in billion U.S. dollars
0   2003                             4.10
1   2004                             5.30
2   2005                             6.40
3   2006                             7.80
4   2007                             9.40
5   2008                            10.40
6   2009                             9.80
7   2010                            10.70
8   2011                            11.70
9   2012                            13.30
10  2013                            14.90
11  2014                            16.45
12  2015                            19.16
13  2016                            21.32
14  2017                            22.39
15  2018                            24.72